/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Reset CSS */
/* Begin Site Styles */

/* Using modular scale http://www.modularscale.com/?1.125&em&1.333 */

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #000000; /* Black margin background */
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.22222222em; /* 22px / 18px = 1.22222222em */
  font-family: Georgia, serif;
  color: #eaeaea; /* Equidistant Off-white */
}

main {
  padding: 1.22222222em 5%; /* 22px (1 gridline) top and bottom, 5% sides */
  background-color: #141414; /* Equidistant Off-black */
}

@media screen and (min-width: 960px) {
  main {
    width: 720px; /* 960px * 75% = 720px */
    margin: 0 auto;
    border-left: 3px solid white;
    border-right: 3px solid white;
  }
}

h1 {
  font-size: 2.369em; /* 1em * 1.333^3 = 2.369em == 42.642px */
  line-height: 1.54777em; /* 66px / 42.642 = 1.54777em (3 gridlines) */
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
}

p {
  padding-bottom: 1.2222222em;
}
